@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm()) {
    <div>
        <h4>ViewBag.Title</h4>
        <hr />
        @RenderSection("Message", required: true)
        @RenderBody()
    </div>
    <div class="row">
        <div class="leftToolBar col">
            @RenderSection("LeftButtons", required: false)
        </div>
        <div class="rightToolBar col">
            @RenderSection("RightButtons", required: false)
        </div>
    </div>
}

@section Heads {
    @RenderSection("Heads", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}